In [1]:
import pandas as pd

In [3]:
df = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\row\TelecomX_Data.json')

In [12]:
df.shape

(7267, 6)

In [4]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [14]:
columnas = list(df.columns)
columnas

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [5]:
df_normalizado = pd.json_normalize(df['customer'])
#df_normalizado.to_json('customer_normalizado.json')

In [6]:
df_normalizado

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [7]:
df_normalizado_2 = pd.json_normalize(df['phone'])
#df_normalizado_2.to_json('phone_normalizado.json')

In [8]:
df_normalizado_2

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [9]:
df_normalizado_3 = pd.json_normalize(df['internet'])
#df_normaizado_3.to_json('internet_normalizado.json')

In [10]:
df_normalizado_3

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [11]:
df_normalizado_4 = pd.json_normalize(df['account'])
#df_normalizado_4.to_json('account_normalizado.json')

In [12]:
df_normalizado_4

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [ ]:
df = df.drop(columns=['customer', 'phone', 'internet', 'account'])
#df.to_json('telecomX_normalizado.json')

----------------------

In [2]:
import pandas as pd

In [3]:
df_main = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\telecomX_normalizado.json')
df_main

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]

In [ ]:
df_phone = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\phone_normalizado.json')

In [19]:
df_phone['customerID'] = df_main['customerID']

In [20]:
cols = ['customerID'] + [col for col in df_phone.columns if col != 'customerID']
df_phone = df_phone[cols]

In [27]:
# Guardar la nueva tabla hija con customerID agregado
df_phone.to_json('phone.json', orient='records', lines=False)

In [28]:
df_account = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\account_normalizado.json')
df_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [29]:
df_account['customerID'] = df_main['customerID']

In [31]:
cols = ['customerID'] + [col for col in df_account.columns if col != 'customerID']
df_account = df_account[cols]

In [32]:
# Guardar la nueva tabla hija con customerID agregado
df_account.to_json('account.json', orient='records', lines=False)

In [7]:
df_customer = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\customer_normalizado.json')
df_customer

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [8]:
df_customer['customerID'] = df_main['customerID']

In [9]:
cols = ['customerID'] + [col for col in df_customer.columns if col != 'customerID']
df_customer = df_customer[cols]

In [11]:
df_customer.to_json('customer.json', orient='records', lines=False)

In [13]:
df_internet = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\internet_normalizado.json')
df_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [14]:
df_internet['customerID'] = df_main['customerID']

In [15]:
cols = ['customerID'] + [col for col in df_internet.columns if col != 'customerID']
df_internet = df_internet[cols]

In [16]:
df_internet.to_json('internet.json', orient='records', lines=False)