In [10]:
import pandas as pd

In [11]:
df = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\row\TelecomX_Data.json')

In [12]:
df.shape

(7267, 6)

In [13]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [14]:
columnas = list(df.columns)
columnas

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [30]:
df_normalizado = pd.json_normalize(df['customer'])
#df_normalizado.to_json('customer_normalizado.json')

In [ ]:
df_normalizado

(7267, 5)

In [17]:
df_normalizado_2 = pd.json_normalize(df['phone'])
#df_normalizado_2.to_json('phone_normalizado.json')

In [ ]:
df_normalizado_2

(7267, 2)

In [24]:
df_normalizado_3 = pd.json_normalize(df['internet'])
#df_normaizado_3.to_json('internet_normalizado.json')

In [ ]:
df_normalizado_3

(7267, 7)

In [26]:
df_normalizado_4 = pd.json_normalize(df['account'])
#df_normalizado_4.to_json('account_normalizado.json')

In [ ]:
df_normalizado_4

(7267, 5)

In [ ]:
df = df.drop(columns=['customer', 'phone', 'internet', 'account'])
#df.to_json('telecomX_normalizado.json')

In [32]:
df = pd.read_json(r'C:\Users\Usuario\Desktop\proyectos\Telecom-X\data\normalizada\telecomX_normalizado.json')
df

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]